scikit-learn
markdown-analysis
langchain_openai
unstructured[pdf]
numexpr
flash-attn
marker-pdf
tiktoken
poppler-utils
umap-learn
chromadb
unstructured
langchain-huggingface
openai
lxml
langchain
langchain-community
opencv-python
langchainhub
umap
pytesseract
pymupdf
packaging
pydantic
pytorch_lightning
streamlit
langchain-openai
pypdf
ninja
#llama-cpp-python